* {
	surface: #313244;
	surface-container-highest: #585b70;
	surface-alpha: rgba(49, 50, 68, 0.5);
	on-surface: #cdd6f4;
	primary-fixed: #cba6f7;
	primary-fixed-alpha: rgba(203, 166, 247, 0.2);
	tertiary: #b4befe;
	error: #f38ba8;
	selected: #45475a;
}
